let mapleader="\<space>"
nnoremap <leader>; A; <ESC>
nnoremap <leader>: A:
nnoremap <leader>=> A =>
nnoremap <leader>, A,<ESC>
nnoremap <leader>{ A{<ESC>
nnoremap <leader>) A)<ESC>

" Mover linhas
nnoremap <M-k> ddkP
nnoremap <M-Up> ddkP
nnoremap <M-j> ddp
nnoremap <M-Down> ddp

set visualbell
set relativenumber
set incsearch
" set hlsearch
set ignorecase
set mouse=a

" set clipboard=unnamedplus

" let @a=ggyG
